<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="buttons">
      <button class="button">🔺Купить фишки</button>
      <button class="button">🔻Вывести фишки</button>
      <button class="button">🔗Перевести фишки</button>
      <button class="button">💰Мой баланс</button>
      <button class="button">♠Список клубов</button>
      <button class="button">💲Хочу стать агентом</button>
    </div>
  </body>
</html>
