.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

a {
  width: 100%;
}

.button {
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color) s;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin: 8px 0;
  border: 0;
  border-radius: 8px;
}
